name: Go package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.19

      - name: Install tensorflow
        run: |
          sudo apt-get install cmake
          git clone https://github.com/tensorflow/tensorflow.git tensorflow_src
          cd tensorflow_src
          git checkout v2.11.0
          cd ..
          mkdir tflite_build
          cd tflite_build
          cmake ../tensorflow_src/tensorflow/lite/c
          cmake --build . -j 2
          cd ..

      - name: Run tests
        run: |
          find . -name c_api.h
          CGO_CFLAGS=-Itensorflow_src go test -v

      - name: Create montage
        run: montage /tmp/*.jpg montage.jpg