name: Go package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.19

      - name: Build tensorflow lite
        run: |
          set -x
          sudo apt-get install cmake
          git clone https://github.com/tensorflow/tensorflow.git tensorflow_src
          cd tensorflow_src
          git checkout v2.11.0
          cd ..
          mkdir tflite_build
          cd tflite_build
          cmake ../tensorflow_src/tensorflow/lite -DTFLITE_ENABLE_XNNPACK=1 -DBUILD_SHARED_LIBS=1
          cmake --build . -j 2
          cd ..
          find . -name c_api.h
          find . -name \*.so
          sudo mkdir -p /usr/local/include/tensorflow/lite/c /usr/local/include/tensorflow/lite/core/c
          sudo cp tensorflow_src/tensorflow/lite/*.h /usr/local/include/tensorflow/lite
          sudo cp tensorflow_src/tensorflow/lite/core/c/*.h /usr/local/include/tensorflow/lite/core/c
          sudo mkdir -p /usr/local/include/tensorflow/lite/delegates/xnnpack
          sudo cp tensorflow_src/tensorflow/lite/delegates/xnnpack/*.h /usr/local/include/tensorflow/lite/delegates/xnnpack
          sudo cp tflite_build/*.so /usr/local/lib
          mkdir tflite_c_build
          cd tflite_c_build
          cmake ../tensorflow_src/tensorflow/lite/c -DTFLITE_ENABLE_XNNPACK=1 -DBUILD_SHARED_LIBS=1
          cmake --build . -j 2
          cd ..
          find . -name \*.so
          sudo cp tflite_c_build/*.so /usr/local/lib/
          sudo cp tensorflow_src/tensorflow/lite/c/*.h /usr/local/include/tensorflow/lite/c

      - name: Run tests
        run: |
          rm -f /tmp/detected*.jpg
          ls -R /usr/local/lib /usr/local/include/tensorflow
          go test -v

      - name: Create montage
        run: montage /tmp/detected*.jpg -geometry 1024x1024+2+2 montage.jpg

      - name: Archive montage
        uses: actions/upload-artifact@v3
        with:
          name: montage
          path: montage.jpg