name: Go package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.19

      - name: Install tensorflow
        run: |
          sudo apt-get install cmake
          git clone https://github.com/tensorflow/tensorflow.git tensorflow_src
          cd tensorflow_src
          git checkout v2.11.0
          cd ..
          mkdir tflite_build
          cd tflite_build
          cmake ../tensorflow_src/tensorflow/lite/c
          cmake --build . 
          find ${HOME} -name c_api.h

      - name: Build
        run: CGO_CFLAGS=-I${HOME}/.local/lib/python3.10/site-packages/tensorflow/include go test -v